@import '../../../styles/main';

.header {
  padding: 0 $main-container-padding;
  margin: 0 auto;
  background-color: $main_color;
  @include flex-space-between-center;
}

@media (max-width: 910px) {
  .header {
    @include flex-column-center;
  }
}
