@import '../../styles/main';

.user {
  height: 70px;
  min-width: 210px;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.2s background-color;
  transition-delay: 0.1s;
  position: relative;
  &::before {
    content: '';
    transition: 0.2s all;
    position: absolute;
    background-color: #64daff;
    height: 4px;
    bottom: 0;
    left: 50%;
    width: 0;
  }

  &:hover {
    background-color: $secondary_color;
    &::before {
      width: 100%;
      left: 0;
    }
  }

  h3 {
    font-size: $secondary-font-size;
    font-weight: 500;
  }

  img {
    width: 30px;
  }

  .downIcon {
    width: 15px;
  }

  @include flex-space-between-center;
}

@media (max-width: 910px) {
  .user {
    width: 100%;
  }
}
