@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-space-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
