@import '../../styles/main';

.card {
  padding: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s background-color;
  @include flex-column-center;
  &:hover {
    background-color: $secondary_color;
  }
  img {
    max-width: 250px;
    max-height: 250px;
  }
  .description {
    max-width: 200px;
    h5 {
      font-weight: 500;
      margin: 7px 0;
      text-align: left;
    }
  }
}
