@import '../../styles/main';

.searchPage {
  padding: 10px;
}

.searchedResults {
  padding: 0 $main-container-padding;
  text-align: left;
}

.statuses {
  @include flex-center;
  margin: 300px 0 0;
}

@media (max-width: 1366px) {
  .statuses {
    margin: 180px 0 0;
  }
}
