.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 810px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
