.search {
  width: 100%;
  padding: 0 20px;
  input {
    outline: none;
    border: 0;
    width: calc(100% - 15px);
    height: 15px;
    min-width: 200px;
    padding: 10px 15px;
  }
}

@media (max-width: 910px) {
  .search {
    margin: 15px 0;
  }
}
