@import '../../styles/main';

.paginator {
  margin: 30px;
  img {
    width: 25px;
  }
  @include flex-center;
}

.page {
  font-size: 15px;
  border: 2px solid #2a2a2a;
  padding: 10px 15px;
  border-radius: 300px;
  margin: 3px;
  cursor: pointer;
  transition: 0.1s all;
  &:hover {
    border: 2px solid $secondary_color;
    color: $secondary_color;
  }

  &.active {
    border: 2px solid $main_color;
    color: $main_color;
  }
}
